*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

/* typography */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utilities */
.white {
  color: white;
}
.grey {
  color: grey;
}

.center {
  text-align: center;
}

/* header */

.wrapper_menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #212525;
  border-bottom: 1px solid rgba(66,77,81,0.25);
  padding-top: 20px;
}

/* menu */

.top_menu_box {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: #212525;
  margin: 0 auto;
}

.menu_logo img {
  width: 100px;
}
.menu_right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menu_right ul {
  display: flex;
}
.menu_right li a:not(.buttons){
  color: white;
}
.menu_right li{
  padding: 0 5px;
}
.buttons {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
}

.bars .hamburger {
  font-size: 2.5em;
  display: none;
}

/* media query */

@media screen and (max-width: 970px) {
  .top_menu_box {
    width: 100%;
    padding: 0 20px;
  }

  .menu_right ul {
    display: none;
  }

  .bars .hamburger {
    display: block;
  }
}

/* jumbotron */

.wrapper_jumbotron {
  width: 100%;
  margin-top: 80px;
  background-color: #212525;
}
.jumbotron {
  width: 70%;
  margin: 0 auto;
  background-color: #212525;
}
.jumbotron_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}
.jumbotron_bottom img{
  width: 100%;
  box-shadow: 2px -1px 1px 0px rgba(255,255,255,1);
  border-radius: 5px;
}

/* media query */

@media screen and (max-width: 970px) {
  .jumbotron {
    width: 100%;
    padding: 0 20px;
  }
}

/* loghi */

.wrapper_loghi {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid rgba(66,77,81,0.25);
}
.loghi {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
}
.loghi img {
  /* width: 10%; */
}

/* media query */

@media screen and (max-width: 970px) {
  .loghi {
    width: 100%;
    padding: 0 20px;
  }
}

/* learning */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.format_img{
  display: flex;
  align-self: flex-end;
}

.learning_img {
  flex-grow: 2;
}

.learning_img img {
  width: 100%;
}

/* design */

.wrapper_design {
  height: 700px;
  background-color: #1F2324;
}

.design_text{
  width: 35%;
}

/* vector */

.wrapper_vector {
  height: 700px;
}

.vector_img_container{
  height: 250px;
  width: 380px;
  overflow: hidden;
  margin-left: 20px;
  background-image: url('../img/vector.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.vector_img img {
  width: 400px;
}

/* free vectr */

.wrapper_freevectr {
  display: flex;
  flex-wrap: wrap;
}

.box_format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid #e2e9ed;
  padding: 120px 0;
}

.free_vectr h2, .platform_vectr h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* media query */

@media screen and (max-width: 970px) {

  .box_format {
    width: 100%;
  }
}

/* footer */

.format_footer {
  width: 100%;
  height: 300px;
}

.footer_top {
  background-color: #1E2223;
  border-top: 2px solid #556EFE;
  border-bottom: 2px solid #565858;
}
.footer_bottom {
  padding-left: 15%;
  margin-right: 35%;
  padding-top: 30px;
  border-top: 2px solid black;
  background-color: #1E2224;
}
.footer_link {
  display: flex;
}
.footer_link a, .footer_switch_language p{
  color: #536970;
  font-size: 1em;
}
.footer_link h4{
  color: #C0D0D8;
  font-size: 1.1em;
}
.footer_menu {
  padding-right: 13%;
}

.footer_switch_language {
  width: 200px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 50px;
  margin-top: 100px;
  line-height: 50px;
}

/* media query */

@media screen and (max-width: 970px) {

  .footer_link {
    display: none;
  }

  .footer_bottom {
    padding-left: 5%;
    margin-right: 5%;
  }

  .footer_switch_language {
    width: 100%;
  }
}
