*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

/* typography */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  color: #697782;
  font-size: 1.1em;
}

/* utilities */
.white {
  color: white;
}
.grey {
  color: grey;
}

.center {
  text-align: center;
}

/* header */

.wrapper_menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #212525;
  border-bottom: 1px solid rgba(66,77,81,0.25);
  padding-top: 20px;
}

/* menu */

.top_menu_box {
  display: flex;
  align-items: center;
  width: 65%;
  background-color: #212525;
  margin: 0 auto;
}

.menu_logo img {
  width: 100px;
}
.menu_right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menu_right ul {
  display: flex;
}
.menu_right li a:not(.buttons){
  color: #536970;
}
.menu_right li a:not(.buttons):hover {
  color: white;
}
.menu_right li a:not(.buttons):not(.more):hover {
  border-bottom: 2px solid #1FC0ED;
  padding-bottom: 6px;
}
.menu_right li a.buttons:hover,
.jumbotron_header a.buttons:hover {
  background-color: #242A2D;
  color: #A1D537;
}

.buttons {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #536970;
}
.buttons.active {
  border: 2px solid #A1DE41;
}

.menu_right li{
  padding: 0 5px;
}

.bars .hamburger {
  font-size: 2.5em;
  display: none;
}

.arrow-down {
  font-size: .6em;
  padding-left: 5px;
}

/* media query */

@media screen and (max-width: 970px) {
  .top_menu_box {
    width: 100%;
    padding: 0 20px;
  }

  .menu_right ul {
    display: none;
  }

  .bars .hamburger {
    display: block;
  }
}

/* jumbotron */

.wrapper_jumbotron {
  width: 100%;
  margin-top: 80px;
  background-color: #212525;
}
.jumbotron {
  width: 65%;
  margin: 0 auto;
  background-color: #212525;
}
.jumbotron_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 50px;
}
.jumbotron_header h1 {
  font-size: 3em;
  color: #ECEEEF;
  font-weight: 900;
}
.jumbotron_header p {
  padding: 10px 0 30px;
  font-size: 1.1em;
  text-align: center;
  width: 90%;
}
.jumbotron_bottom img{
  width: 100%;
  box-shadow: 2px -1px 1px 0px rgba(255,255,255,1);
  border-radius: 5px;
}

.jumbo_buttons {
  padding: 15px 40px;
  font-size: 1.1em;
}

/* media query */

@media screen and (max-width: 970px) {
  .jumbotron {
    width: 100%;
    padding: 0 20px;
  }
  .jumbotron_header h1 {
    text-align: center;
  }
}

/* loghi */

.wrapper_loghi {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(66,77,81,0.25);
}
.loghi {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
}
.loghi_container {
  line-height: 80px;
}
.loghi_container img {
  width: 90%;
  vertical-align: middle;
}

/* media query */

@media screen and (max-width: 970px) {

  .hidden_md {
    display: none;
  }

  .loghi {
    width: 100%;
    padding: 0 20px;
  }
}

/* learning */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}
.wrapper_learning {
  padding: 120px 80px 80px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  line-height: 25px;
}
.text h4 {
  color: #848878;
  font-weight: normal;
  padding-bottom: 20px;
}
.text h2 {
  color: #3B4447;
  font-size: 2.3em;
  font-weight: 900;
  line-height: 40px;
}
.text h2:after {
  content: "";
  display: block;
  border: 1px solid #c8dce2;
  border-radius: 2px;
  width: 30px;
  height: 2px;
  margin: 15px 0;
  background: rgba(200,220,226,0.25);
}
.text a {
  color: #45CAF0;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: 2px solid rgba(36,193,237,0.5);
  width: 80px;
  padding-bottom: 5px;
}

.format_img{
  display: flex;
  align-self: flex-end;
}

.learning_img {
  width: 60%;
}

.learning_img img {
  width: 100%;
}

/* media query */

@media screen and (max-width: 970px) {

  .vector_img {
    width: 100%;
  }

  .vector_img_container {
    width: 50%;
  }

  .learning_text {
    width: 100%;
  }
  .learning_img {
    width: 100%;
  }

  .text {
    align-items: center;
  }
  .text p{
    text-align: center;
  }
  .text h2 {
    text-align: center;
  }
  .text h2:after {
    margin: 15px auto;
  }
}

/* design */

.wrapper_design {
  height: 700px;
  background-color: #1F2324;
}

.design_text{
  width: 38%;
}
.design_text h2 {
  color: #ECEEEF;
}
.design_img {
  overflow: hidden;
}
.design_img img {
  opacity: .3;
  margin-bottom: -30px;
}

/* media query */

@media screen and (max-width: 970px) {

  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .design_img {
    width: 100%;
  }

  .design_img img {
    width: 100%;
  }
  .design_text {
    width: 100%;
  }

  .text {
    align-items: center;
  }
  .text p{
    text-align: center;
  }
  .text h2 {
    text-align: center;
  }
  .text h2:after {
    margin: 15px auto;
  }
}

/* vector */

.wrapper_vector {
  height: 700px;
}

.vector_img_container{
  height: 250px;
  width: 380px;
  overflow: hidden;
  margin-left: 20px;
  background-image: url('../img/vector.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.vector_img img {
  width: 400px;
}

a.underline_vector {
  width: 180px;
}

/* free vectr */

.wrapper_freevectr {
  display: flex;
  flex-wrap: wrap;
}

.box_format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid #e2e9ed;
  padding: 120px 0;
}

.free_vectr h2, .platform_vectr h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.vector_img_container {
  box-shadow: -8px 7px 5px 0px rgba(234,234,234,1);
}

/* media query */

@media screen and (max-width: 970px) {

  .box_format {
    width: 100%;
  }

  .vector_img img {
    width: 50%;
  }
  .vector_text {
    width: 100%;
  }

  .text {
    align-items: center;
  }
  .text p{
    text-align: center;
  }
  .text h2 {
    text-align: center;
  }
  .text h2:after {
    margin: 15px auto;
  }
}

/* footer */

.format_footer {
  width: 100%;
  height: 400px;
}

.footer_top {
  background-color: #1E2223;
  border-top: 2px solid #556EFE;
  border-bottom: 2px solid #565858;
}
.footer_bottom {
  padding-left: 15%;
  padding-top: 30px;
  border-top: 2px solid black;
  background-color: #1E2224;
}
.footer_link {
  display: flex;
}
.footer_link a, .footer_switch_language p{
  color: #536970;
  font-size: 1em;
}
.footer_link h4{
  color: #C0D0D8;
  font-size: 1.1em;
}
.footer_link li {
  line-height: 30px;
}
.footer_menu {
  padding-right: 10%;
}
.footer_menu li a:hover {
  color: #3E5351;
}

.footer_switch_language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  border: 2px solid #3E535E;
  border-radius: 50px;
  margin-top: 100px;
  margin-right: 50px;
  line-height: 50px;
}
.footer_switch_language p {
  font-size: .9em;
  color: white;
}

.switch_icon {
  padding: 0 10px;
  font-size: 1.4em;
  color: #3E535E;
}

.globe {
  vertical-align: middle;
}

.arrow {
  margin-top: -5px;
}


/* footer credits */

.footer_credits {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  background-color: #1E2224;
}
.footer_loghi img {
  width: 100px;
  padding: 10px;
}
.footer_info p {
  font-size: .9em;
}

/* media query */

@media screen and (max-width: 970px) {

  .footer_link {
    display: none;
  }

  .footer_bottom {
    padding-left: 5%;
    margin-right: 5%;
  }

  .footer_switch_language {
    width: 95%;
  }

  .footer_credits {
    justify-content: center;
  }

  .footer_loghi {
    width: 90%;
    text-align: center;
  }

  .footer_loghi img {
    width: 130px;
  }
}
